{% extends "base.html" %}
{% load static %}
{% block title %}Mapa{% endblock %}
{% block content %}

<div class="contenedor-mapa">
    <!--sidebar-->
    <div id="sidebar" class="sidebar" style="margin-top: 52px;">
        <button id="toggleSidebar" class="btn btn-sm btn-light">
            &lt;
        </button>
        <div id="sidebar-content"> <!--COlOCAR LEYENDA, CATEGORIAS, ETC usar for each TAMBIEN PONER EL FORM PARA LLENAR DATOS--> 
            <div id="sidebar-body">
                <ul style="list-style-type: none; margin-left: -20px;">
                    {% if user.is_authenticated %}
                    <li class="lista-categorias">
                        <div class="contenedor-categorias">
                            <button class="sidebar-options" data-bs-toggle="modal" data-bs-target="#modalEstaticoCategoria" style="font-weight: bold; display: block;">
                                Crear nueva categoría
                            </button>
                        </div>
                    </li>
                    {% endif %}
                    {% for categoria in categorias %}
                    <li class="lista-categorias">
                        <div class="contenedor-categorias">
                            <button class="form-check-input" type="checkbox"></button>
                            <button class="sidebar-options boton-categorias-toggle" data-id="{{ categoria.id }}">
                                {{categoria.nombre}}
                            </button>
                        </div>
    
                        <ul class="lista-subcategorias" style="display: none; list-style-type: none; margin-left: -20px;">
                            {% if user.is_authenticated %}
                            <li>
                                <div class="contenedor-subcategorias">
                                    <button class="sidebar-options crear-subcat-btn" data-bs-toggle="modal" data-bs-target="#modalEstaticoSubcategoria" style="font-weight: bold;" data-categoria-id="{{ categoria.id }}" >
                                        Crear nueva subcategoría
                                    </button>
                                </div>
                                <div class="contenedor-subcategorias">
                                    <button class="sidebar-options crear-subclas-btn" data-bs-toggle="modal" data-bs-target="#modalEstaticoSubclasificacion" style="font-weight: bold;" data-categoria-id="{{ categoria.id }}" >
                                        Crear nueva subclasificación
                                    </button>
                                </div>
                            </li>
                            {% endif %}
                            <li class="subcat-list-items" id="subcats-{{ categoria.id }}"></li>
                            <li class="subclas-list-items" id="subclas-cat-{{ categoria.id }}"></li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEstaticoCategoria" tabindex="-1" aria-labelledby="modalEstaticoCategoria" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModal">Nueva categoría</h1>
                    <button type="button" class="btn-close boton-cerrar" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form id="categoriaForm" method="POST" action="">
                        {% csrf_token %}
                        {{ formCategoria.as_p }}
                        <button type="button" class="btn btn-secondary boton-cerrar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEstaticoSubcategoria" tabindex="-1" aria-labelledby="modalEstaticoSubcategoria" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModal">Nueva subcategoría</h1>
                    <button type="button" class="btn-close boton-cerrar" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form id="subcategoriaForm" method="POST" action="">
                        {% csrf_token %}
                        {{ formSubcategoria.as_p}}
                        <button type="button" class="btn btn-secondary boton-cerrar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEstaticoSubclasificacion" tabindex="-1" aria-labelledby="modalEstaticoSubclasificacion" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModal">Nueva subclasificación</h1>
                    <button type="button" class="btn-close boton-cerrar" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form id="subclasForm" method="POST" action="">
                        {% csrf_token %}
                        {{ formSubclas.as_p}}
                        <button type="button" class="btn btn-secondary boton-cerrar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Modal de datos de nueva figura-->
    <div class="modal fade" id="modalNuevaFigura" tabindex="-1" aria-labelledby="modalNuevaFigura" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModal">Atributos Figura</h1>
                    <button type="button" class="btn-close boton-cerrar" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <!--El formulario debería depender de la figura creada-->
                    <form action=""></form>
                </div>
            </div>
        </div>
    </div>
    <div id="map">
    </div>
    <!--Offcanvas-->
    <button id="toggleTablas" class="btn btn-sm btn-light" data-bs-toggle="offcanvas" data-bs-target="#seccionTablas" aria-controls="seccionTablas"><img src="{% static 'icons/table.png' %}" alt="tabla" height="20px" width="20px"></button>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="seccionTablas" aria-labelledby="seccionTablas">
        <div class="offcanvas-header" style="height: 40px;">
            <h5 class="offcanvas-title">Tabla de atributos</h5>
        </div>
        <hr>
        <div id="cuerpoTablas" class="offcanvas-body small">
            
        </div>
    </div>
</div>




{% endblock %}

{% block extra_scripts %}
<!--------------------------------------LEAFLET Y MAPA DE OPS------------------------------------>
<!--Este link y script provienen de leaflet. Cargan los íconos y funcionalidades-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<!---------------------------------INICIA LEAFLET GEOMAN------------------------------------>
<link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"/>
{% if user.is_authenticated %}
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.js"></script>
{% endif %}

<!--ESTE SCRIPT CARGA LOS DIFERENTES TILESETS Y DESPUÉS CARGA EL MAPA, INICIANDO CON EL DE LAS CALLES-->
<script>
    const calles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    });
    const satelite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        maxZoom: 19,
        attribution: 'Tiles © Esri'
    });
    const relieve = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenTopoMap contributors'
    })

    const defaultLat = -33.03853;
    const defaultLng = -71.60666;
    const defaultZoom = 14;
    var southWest = L.latLng(-33.367279, -71.78279122251949);
    var northEast = L.latLng(-32.979154, -71.331662);
    var limitesMapa = L.latLngBounds(southWest, northEast);

    let latGuardada = localStorage.getItem('mapCenterLat');
    let lngGuardada = localStorage.getItem('mapCenterLng');
    let zoomGuardado = localStorage.getItem('mapZoom');

    const latInicial = latGuardada ? parseFloat(latGuardada) : defaultLat;
    const lngInicial = lngGuardada ? parseFloat(lngGuardada) : defaultLng;
    const zoomInicial = zoomGuardado ? parseInt(zoomGuardado) : defaultZoom;

    var map = L.map('map', {pmIgnore: false}).setView([latInicial, lngInicial], zoomInicial);
    calles.addTo(map);
    map.setMaxBounds(limitesMapa);
    

    //FUNCION PARA GUARDAR LA VISTA ACTUAL EN LOCALSTORGAGE
    function guardarVista(){
        localStorage.setItem('mapCenterLat', map.getCenter().lat);
        localStorage.setItem('mapCenterLng', map.getCenter().lng);
        localStorage.setItem('mapZoom', map.getZoom());
    }

    map.on('moveend', guardarVista);
</script>
<!--ESTE SCRIPT PERMITE SELECCIONAR EL TILESET DEL MAPA-->
<script>
    let currentLayer = calles;
        
    const edicionesLayer = L.layerGroup().addTo(map);
        
    function cambiarMapa(layer){
        if (currentLayer) map.removeLayer(currentLayer);
        layer.addTo(map);
        currentLayer = layer;
    }
    //listeners para las distintas opciones del menú de mapas
    document.getElementById('mapaSatelital').addEventListener('click', function(e){
        e.preventDefault();
        cambiarMapa(satelite);
    });
    document.getElementById('mapaCalles').addEventListener('click', function(e){
        e.preventDefault();
        cambiarMapa(calles);
    });
    document.getElementById('mapaRelieve').addEventListener('click', function(e){
        e.preventDefault();
        cambiarMapa(relieve);
    });

</script>

<!-------------------------------------------------FUNCIONALIDADES VARIAS---------------------------------------->

<!--LISTENER--------->
<script>
    //FUNCIONES DE LA LISTA DE CATEGORIAS
    
    document.addEventListener("DOMContentLoaded", function () {
        
        var botonCategorias = document.querySelectorAll(".boton-categorias-toggle");

        botonCategorias.forEach(function(boton){
            boton.addEventListener("click", function(e){
                e.preventDefault();

                var listaCategorias = this.closest('.lista-categorias');
                var listaSubcategoriasUl = listaCategorias ? listaCategorias.querySelector('.lista-subcategorias') : null;
                const categoriaId = this.dataset.id;

                if (listaSubcategoriasUl) {

                    const seAbre = listaSubcategoriasUl.style.display === 'none' || !listaSubcategoriasUl.style.display;

                    if (seAbre) {
                        document.querySelectorAll('.lista-subcategorias').forEach(ul => {
                            if (ul !== listaSubcategoriasUl) {
                                ul.style.display = 'none';
                            }
                        });
                        
                        listaSubcategoriasUl.style.display = 'block';
                        fetchContenidoCategoria(categoriaId, listaCategorias);
                    } else {
                        listaSubcategoriasUl.style.display = 'none';
                        document.getElementById('figuras-container').innerHTML = '';
                    }
                }
            })
        });
        

        // CODIGO PARA CARGAR EL CONTENIDO DE LAS CATEGORIAS Y SUBCATEGORIAS
        function fetchContenidoCategoria(categoriaId, listaCategorias) {
            const subcatListContainer = listaCategorias.querySelector(`#subcats-${categoriaId}`);
            const subclasListContainer = listaCategorias.querySelector(`#subclas-cat-${categoriaId}`);

            subcatListContainer.innerHTML = '<li>Cargando...</li>';
            subclasListContainer.innerHTML = '';

            fetch(`/obtener_contenido_categoria/${categoriaId}/`)
                .then(response => response.json())
                .then(data => {
                    subcatListContainer.innerHTML = '';

                    if (!data) {
                        subcatListContainer.innerHTML = `<li>Error cargando contenido: ${data.error}`;
                        return
                    }

                    if (data.subcategorias) {
                        data.subcategorias.forEach(sub => {
                            const li = document.createElement('li');
                            const itemContainer = document.createElement('div');
                            itemContainer.className = 'contenedor-subcategorias';

                            const checkbox = document.createElement('button');
                            checkbox.className = 'form-check-input subitem-checkbox'
                            checkbox.setAttribute('type', 'checkbox');

                            const btn = document.createElement('button');
                            btn.className = 'sidebar-suboption';
                            btn.dataset.id = sub.id;
                            btn.textContent = sub.nombre;

                            btn.addEventListener('click', function(event){
                                event.stopPropagation();
                                fetchContenidoSubcategoria(sub.id, this); 
                            });

                            itemContainer.appendChild(checkbox);
                            itemContainer.appendChild(btn)

                            li.appendChild(itemContainer);
                            subcatListContainer.appendChild(li);
                        });
                    }

                    if (data.subclasificaciones_cat) {
                        data.subclasificaciones_cat.forEach(sub => {
                            const li = document.createElement('li');
                            const itemContainer = document.createElement('div');
                            itemContainer.className = 'contenedor-subcategorias item-subclasificacion'

                            const checkbox = document.createElement('button');
                            checkbox.className = 'form-check-input subitem-checkbox';
                            checkbox.setAttribute('type', 'checkbox');

                            const subclasbtn = document.createElement('button');
                            subclasbtn.className = 'sidebar-suboption'
                            subclasbtn.textContent = sub.nombre;
                            subclasbtn.dataset.id = sub.id

                            itemContainer.appendChild(checkbox);
                            itemContainer.appendChild(subclasbtn);

                            li.appendChild(itemContainer);
                            subclasListContainer.appendChild(li);

                            subclasbtn.addEventListener('click', function(){

                            })
                        })
                    }
                })
                .catch(err => {
                    console.error('Error cargando categoría: ', err);
                    subcatListContainer.innerHTML = '<li>Error al cargar contenido de categoría.</li>';
                });
        }

        //Funciones auxiliares para el fetch de subcategorias
        function fetchContenidoSubcategoria(subId, clickedButton){
            const subcatLi = clickedButton.closest('li');
            const subclasId = `subclas-for-sub-${subId}`;
            const elementoSubclas = document.getElementById(subclasId);

            if (elementoSubclas) {
                elementoSubclas.remove()
                return; 
            }

            const subclasLi = document.createElement('li');
            subclasLi.id = `subclas-for-sub-${subId}`;
            subclasLi.className = 'subclas-injected-li'
            subclasLi.innerHTML ='<p style="text-align: center;">Cargando figuras...</p>';

            subcatLi.after(subclasLi);

            fetch(`/obtener_contenido_subcategoria/${subId}/`)
                .then(response => response.json())
                .then(data =>{
                    mostrarSubclasificacion(data.items, subclasLi, subId);
                })
                .catch(err => {
                    console.error('Error cargando las subclasificaciones: ', err),
                    subclasLi.innerHTML = '<p>Error cargando las subclasificaciones</p>';
                })
        }

        function mostrarSubclasificacion(items, container, subId){
            container.innerHTML = '';
            
            if (items.length === 0) {
                const itemContainer = document.createElement('div');
                itemContainer.className = 'contenedor-subcategorias';

                const mensaje = document.createElement('span');
                mensaje.textContent = 'No hay subclasificaciones asociadas';

                itemContainer.appendChild(mensaje);
                container.appendChild(itemContainer);

            } else {

                items.forEach(subclas => {
                    const itemContainer = document.createElement('div');
                    itemContainer.className = 'contenedor-subcategorias item-subclasificacion'

                    const checkbox = document.createElement('button');
                    checkbox.className = 'form-check-input subitem-checkbox';
                    checkbox.setAttribute('type', 'checkbox');

                    const subclasId = document.createElement('span');
                    subclasId.className = 'contenedor-subcategorias'
                    subclasId.textContent = `${subclas.nombre}`;

                    itemContainer.appendChild(checkbox);
                    itemContainer.appendChild(subclasId);

                    container.appendChild(itemContainer);
                })
            }
        }
        
        
        //PARA ASIGNAR LA CATEGORIA AUTOMATICAMENTE EN EL MODAL DE SUBCATEGORIA
        const modalSubcategoria = document.getElementById('modalEstaticoSubcategoria');
        modalSubcategoria.addEventListener('show.bs.modal', function(event) {
            const button = event.relatedTarget;
            const categoriaId = button.getAttribute('data-categoria-id');
            const categoriaSelect = modalSubcategoria.querySelector('#id_categoria');

            if (categoriaSelect) {
                categoriaSelect.value = categoriaId;
            }
        })
        //PARA ASIGNAR LA CATEGORIA AUTOMÁTICAMENTE EN EL MODAL DE SUBCLASIFICACION
        const modalSubclas = document.getElementById('modalEstaticoSubclasificacion');
        modalSubclas.addEventListener('show.bs.modal', function(event){
            const button = event.relatedTarget;
            const categoriaId = button.getAttribute('data-categoria-id');
            const categoriaSelect = modalSubclas.querySelector('#id_categoria');

            if (categoriaSelect){
                categoriaSelect.value = categoriaId;
            }
        })
        
        //----------SCRIPT PARA LA SIDEBAR------------------
        const sidebar = document.getElementById("sidebar");
        const toggleBtn = document.getElementById("toggleSidebar");

        toggleBtn.addEventListener("click", function () {
            sidebar.classList.toggle("minimized");
            setTimeout(() => {
                map.invalidateSize(); // Ajusta Leaflet después del cambio
            }, 310);

            if (sidebar.classList.contains("minimized")){
                toggleBtn.innerHTML = "&gt;"
            } else {
                toggleBtn.innerHTML = "&lt;"
            }
        });

        //------------------------SCRIPT PARA CARGAR LAS FIGURAS DEL LOCALSTORAGE-----------------
        
        const editableLayers = L.featureGroup().addTo(map);

        function cargarFiguras(){
            var figurasGuardadas = localStorage.getItem('todasLasFiguras');
            if (figurasGuardadas) {
                var geojson = JSON.parse(figurasGuardadas);
                L.geoJSON(geojson, {
                    onEachFeature: function(feature, layer){
                        editableLayers.addLayer(layer);
                        attachEditListeners(layer);
                    }
                }).addTo(map);
            }
        }
        
        //FUNCION PARA GUARDAR LAS FIGURAS EN EL LOCALSTORAGE
        function guardarFiguras(){
            var geojson = map.pm.getGeomanLayers(true).toGeoJSON();
            localStorage.setItem("todasLasFiguras", JSON.stringify(geojson));
        }
        
        //LISTENERS PARA EDITAR, MOVER Y ELIMINAR UNA FIGURA
        function attachEditListeners(layer){
            layer.on("pm:edit", guardarFiguras);
            layer.on("pm:dragend", guardarFiguras);
            layer.on("pm:remove", guardarFiguras);

            layer.on('click', function(e){
                mostrarDatosOffcanvas(e.target);
            } )
        }

        //CREAR UNA NUEVA FIGURA
        map.on("pm:create", e =>{
            const layer = e.layer;
            editableLayers.addLayer(layer);
            attachEditListeners(layer);
            guardarFiguras();
            //
        })
        
        cargarFiguras(); //PARA CARGAR LAS FIGURAS AL REFRESCAR LA PÁGINA

        

        //PARA ENVIAR LAS CATEGORIAS Y SUBCATEGORIAS A LA BASE DE DATOS POR AJAX
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        const categoriaForm = document.getElementById('categoriaForm');
        
        categoriaForm.addEventListener('submit', function(e){
            e.preventDefault();

            const formData = new FormData(document.getElementById('categoriaForm'));
            formData.append('tipo_form', 'categoria')

            fetch('guardar_por_ajax', {
                method: 'POST',
                body: formData,
                headers: {'X-CSRFToken': csrftoken},
            })
            .then(response => response.json())
            .then(data => { //De acá para abajo, si se guarda exitosamente la categoría, se cierra el modal y se actualiza la lista del sidebar
                if (data.success && data.tipo === 'categoria'){
                    console.log("Guardado con éxito: ", data.nombre);
                    const modal = bootstrap.Modal.getInstance(document.getElementById('modalEstaticoCategoria'));
                    categoriaForm.reset();
                    modal.hide();

                    const sidebarList = document.querySelector('#sidebar-body ul');
                    const newLi = document.createElement('li');
                    newLi.className = 'lista-categorias';
                    
                    const contenedorCategorias = document.createElement('div');
                    contenedorCategorias.className('contenedor-categorias');

                    const checkbox = document.createElement('button');
                    checkbox.className = 'form-check-input subitem-checkbox';
                    checkbox.setAttribute('type', 'checkbox');
                    
                    const nuevaCategoria = document.createElement('button');
                    nuevaCategoria.className = 'sidebar-options';
                    nuevaCategoria.textContent = `${data.nombre}`

                    contenedorCategorias.appendChild(checkbox);
                    contenedorCategorias.appendChild(nuevaCategoria);
                    newLi.appendChild(contenedorCategorias);
                    sidebarList.appendChild(newLi);

                    
                } else {
                    console.error("Error: ", data.errors);
                }
            })
        })
        
        const subcategoriaForm = document.getElementById('subcategoriaForm');

        subcategoriaForm.addEventListener('submit', function(e) {
            e.preventDefault();
            const formData = new FormData(subcategoriaForm);
            formData.append('tipo_form', 'subcategoria');

            fetch('guardar_por_ajax', {
                method: 'POST',
                body: formData,
                headers: { 'X-CSRFToken': csrftoken },
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const modal = bootstrap.Modal.getInstance(document.getElementById('modalEstaticoSubcategoria'));
                    subcategoriaForm.reset();
                    modal.hide();

                    const categoriaId = subclasForm.querySelector('#id_categoria').value;
                    const listaCategoria = document.querySelector(`.boton-categorias-toggle[data-id="${categoriaId}"]`).closest('.lista-categorias')

                    if (listaCategoria) {
                        fetchContenidoCategoria(categoriaId, listaCategoria);
                    }
                } else {
                    console.error("Error:", data.errors);
                }
            });
        });

        const subclasForm = document.getElementById('subclasForm');

        subclasForm.addEventListener('submit', function (e){
            e.preventDefault();
            const formData = new FormData(subclasForm);
            formData.append('tipo_form', 'subclasificacion');

            fetch('guardar_por_ajax', {
                method: 'POST',
                body: formData,
                headers: { 'X-CSRFToken': csrftoken },
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Subclasificación creada' + data.nombre);
                } else {
                    console.error("Error: ", data.errors);
                }
            })
        })

        // CON ESTO APARECE LA BARRA DE HERRAMIENTAS DE GEOMAN AL PRESIONAR "CREAR NUEVA SUBCLASIFICACIÓN"

        const btnNuevaSubclas = document.querySelectorAll('.crear-subclas-btn');

        btnNuevaSubclas.forEach(button => {
            button.addEventListener('click', function(e){
                e.preventDefault()

                map.pm.addControls({  
                    position: 'bottomleft',  
                    drawCircleMarker: false,
                    rotateMode: false,
                    editMode: true,
                    dragMode: true,
                    removalMode: true,
                    cutPolygon: false,
                    drawText: false,
                }); 
            })
        })

        //Funcion que permite ver la tabla de datos en offcanvas al hacer click en una figura de una capa cargada
        function mostrarDatosOffcanvas(layer){
            const properties = layer.feature && layer.feature.properties ? layer.feature.properties : {};
            const offcanvasBody = document.getElementById('cuerpoTablas');
            const offcanvasElement = document.getElementById('seccionTablas')
            

            let tablaHtml = '<table class= "table table-striped table-sm">';
            tablaHtml += '<thead><tr><th>Atributo</th><th>Valor</th></tr></thead>';
            tablaHtml += '<tbody>';

            const propKeys = Object.keys(properties);

            if (propKeys.length === 0) {
                tablaHtml += `<tr><td colspan="2">No hay atributos definidos para esta figura.</td></tr>`;
            } else {
                for (const key of propKeys){
                    tablaHtml += `<tr><td><strong>${key}</strong></td><td>${properties[key]}</td></tr>`;
                }
            }
            tablaHtml += '<tbody></table>'
            offcanvasBody.innerHTML = tablaHtml;

            if (offcanvasElement && typeof bootstrap !== 'undefined') {
                let bsOffcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement)
                if (!bsOffcanvas){
                    bsOffcanvas = new bootstrap.Offcanvas(offcanvasElement);
                }
                bsOffcanvas.show();
            } else if (offcanvasElement) {
                console.error("Error: La librería de Bootstrap no está cargada")
            }

        }
        window.mostrarDatosOffcanvas = mostrarDatosOffcanvas;
    });
</script>
{% endblock %}