{% extends "base.html" %}
{% load static %}
{% block title %}Editor{% endblock %}
{% block content %}

<div class="contenedor-mapa">
    <!--sidebar-->
    <div id="sidebar" class="sidebar" style="margin-top: 52px;">
        <button id="toggleSidebar" class="btn btn-sm btn-light">
            &lt;
        </button>
        <div id="sidebar-content"> <!--COlOCAR LEYENDA, CATEGORIAS, ETC usar for each TAMBIEN PONER EL FORM PARA LLENAR DATOS--> 
            <div id="sidebar-body">
                <ul style="list-style-type: none; margin-left: -20px;">
                    {% if user.is_authenticated %}
                    <li class="lista-categorias">
                        {% if user.is_superuser %}
                        <div class="contenedor-categorias">
                            <button class="sidebar-options" data-bs-toggle="modal" data-bs-target="#modalEstaticoCategoria" style="font-weight: bold; display: block;">
                                Crear nueva categoría
                            </button>
                        </div>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% for categoria in categorias %}
                    <li class="lista-categorias">
                        <div class="contenedor-categorias">
                            <input class="form-check-input categoria-checkbox" type="checkbox" data-id="{{ categoria.id }}" data-tipo="categoria" checked></input>
                            <button class="sidebar-options boton-categorias-toggle" data-id="{{ categoria.id }}">
                                {{categoria.nombre}}
                            </button>
                        </div>
    
                        <ul class="lista-subcategorias" style="display: none; list-style-type: none; margin-left: -20px;">
                            {% if user.is_authenticated %}
                            <li>
                                {% if user.is_superuser %}
                                <div class="contenedor-subcategorias">
                                    <button class="sidebar-options crear-subcat-btn" data-bs-toggle="modal" data-bs-target="#modalEstaticoSubcategoria" style="font-weight: bold;" data-categoria-id="{{ categoria.id }}" >
                                        Crear nueva subcategoría
                                    </button>
                                </div>
                                <div class="contenedor-subcategorias">
                                    <button class="sidebar-options crear-subclas-btn" data-bs-toggle="modal" data-bs-target="#modalEstaticoSubclasificacion" style="font-weight: bold;" data-categoria-id="{{ categoria.id }}" >
                                        Crear nueva subclasificación
                                    </button>
                                </div>
                                {% endif %}
                            </li>
                            {% endif %}
                            <li class="subcat-list-items" id="subcats-{{ categoria.id }}"></li>
                            <li class="subclas-list-items" id="subclas-cat-{{ categoria.id }}"></li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                <hr id="sectionDivider" class="sidebar-section-divider" style="display: none;">
                <ul id="seccionCapasImportadas" style="list-style-type: none; margin-left: -20px; display: none;">
                    <li style="font-weight: bold; margin-left: -20px; margin-bottom: -5px;">
                        Capas Importadas
                    </li>
                    <hr>
                    <li id="listaCapasImportadas" class="lista-capas-importadas activa"></li>
                </ul>
            </div>
        </div>
    </div>
    <!--    MODALES DESHABILITADOS POR SI SE USAN EN UN FUTURO PARA CREACIÓN DE CATS, SUBCATS Y SUBCLAS EN EL EDITOR
    <div class="modal fade" id="modalEstaticoCategoria" tabindex="-1" aria-labelledby="modalEstaticoCategoria" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModal">Nueva categoría</h1>
                    <button type="button" class="btn-close boton-cerrar" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form id="categoriaForm" method="POST" action="">
                        {% csrf_token %}
                        {{ formCategoria.as_p }}
                        <button type="button" class="btn btn-secondary boton-cerrar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEstaticoSubcategoria" tabindex="-1" aria-labelledby="modalEstaticoSubcategoria" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModal">Nueva subcategoría</h1>
                    <button type="button" class="btn-close boton-cerrar" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form id="subcategoriaForm" method="POST" action="">
                        {% csrf_token %}
                        {{ formSubcategoria.as_p}}
                        <button type="button" class="btn btn-secondary boton-cerrar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEstaticoSubclasificacion" tabindex="-1" aria-labelledby="modalEstaticoSubclasificacion" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModal">Nueva subclasificación</h1>
                    <button type="button" class="btn-close boton-cerrar" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form id="subclasForm" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ formSubclas.as_p}}
                        <button type="button" class="btn btn-secondary boton-cerrar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <!--Modal de datos de nueva figura-->
    <div class="modal fade" id="modalNuevaFigura" tabindex="-1" aria-labelledby="modalNuevaFigura" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModal">Atributos Figura</h1>
                    <button type="button" class="btn-close boton-cerrar" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <!--El formulario debería depender de la figura creada-->
                    <form action=""></form>
                </div>
            </div>
        </div>
    </div>
    <div id="map">
    </div>
    <!--Offcanvas-->
    <button id="toggleTablas" class="btn btn-sm btn-light" data-bs-toggle="offcanvas" data-bs-target="#seccionTablas" aria-controls="seccionTablas"><img src="{% static 'icons/table.png' %}" alt="tabla" height="20px" width="20px"></button>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="seccionTablas" aria-labelledby="seccionTablas">
        <div class="offcanvas-header" style="height: 40px;">
            <h5 class="offcanvas-title">Tabla de atributos</h5>
            <button id="btnEditarDatos" class="btn">Editar</button>
        </div>
        <hr>
        <div id="cuerpoTablas" class="offcanvas-body small"></div>
    </div>
</div>




{% endblock %}

{% block extra_scripts %}
<!--------------------------------------LEAFLET Y MAPA DE OPS------------------------------------>
<!--Este link y script provienen de leaflet. Cargan los íconos y funcionalidades-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<!---------------------------------INICIA LEAFLET GEOMAN------------------------------------>
<link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"/>
{% if user.is_authenticated %}
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.js"></script>
{% endif %}

<!--ESTE SCRIPT CARGA LOS DIFERENTES TILESETS Y DESPUÉS CARGA EL MAPA, INICIANDO CON EL DE LAS CALLES-->

<script type="module">
    import {
        inicializacionMapa,
        mantenerVista,
        tilesetsMapa
    } from "{% static 'js/funcionalidadMapa.js' %}";

    import {
        mostrarProyectoActivo,
    } from "{% static 'js/proyectosCRUD.js' %}"

    import {
        iniciarImportacionCapa,
        cargarCapas,
        alternarVisibilidadCapa,
        crearFigura,
        eliminarFigura,
        asignarDatosFigura,
        activarMododibujo,
    } from "{% static 'js/funcionalidadCapas.js' %}"

    import {
        toggleSidebar,
        inicializadorSidebar,
        fetchContenidoCategoria,
        fetchContenidoSubcategoria,
        mostrarSubclasificacion,
    } from "{% static 'js/funcionalidadSidebar.js' %}"

    import {
        mostrarDatosOffcanvas,
        generarFormularioEditable,
    } from "{% static 'js/formularios.js' %}"

    import {
        guardarEstadoVisibilidad,
        alternarVisibilidadFigUsuario,
        actualizarVisibilidadFigurasUsuario,
        restaurarEstadoVisibilidad,
    } from "{% static 'js/visibilidad.js' %}"
    
    window.capasVisibles = window.capasVisibles || {};
    window.visibilidadFiguras = window.visibilidadFiguras || {};
    window.camposOcultos = [
        '__subclasificacionId',
        '__subclasificacionNombre',
        '__origenCapa',
    ]

    window.actualizarVisibilidadFigurasUsuario = actualizarVisibilidadFigurasUsuario;
    document.addEventListener("change", function (e) {
        if (e.target.matches(".categoria-checkbox") || 
            e.target.matches(".subcat-checkbox") ||
            e.target.matches(".subclas-checkbox")) { 
            alternarVisibilidadFigUsuario(e);
        }
    });

    //FUNCIONES DE LA LISTA DE CATEGORIAS
    document.addEventListener("DOMContentLoaded", async function () {

        window.visibilidadListasListas = false;

        mostrarProyectoActivo()

        const {map, calles, satelite, relieve} = inicializacionMapa()

        window.map = map

        mantenerVista(map)

        tilesetsMapa(map, calles, satelite, relieve)

        window.editableLayers = new L.FeatureGroup().addTo(map)

        toggleSidebar()
        
        await inicializadorSidebar()

        await cargarCapas(window.map)

        restaurarEstadoVisibilidad()

        window.visibilidadListasListas = true;

        actualizarVisibilidadFigurasUsuario()

        crearFigura()

        eliminarFigura()
        
});
</script>
{% endblock %}