{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
    <nav class="barraSuperior navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a id="dropdownMapa" class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mapa
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="mapaSatelital" class="dropdown-item" href="">Mapa satelital</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a id="mapaCalles" class="dropdown-item" href="">Mapa de calles</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a id="mapaRelieve" class="dropdown-item" href="">Mapa de relieve</a></li>
                        </ul>            
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if not user.is_authenticated and request.resolver_match.url_name != 'registro' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
                        </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                        </li>
                    {% endif %}     
                </ul> 
            </div>
        </div>
    </nav>
    <div class="contenedor-mapa">
        <div id="sidebar" class="sidebar" style="margin-top: 52px;">
        <button id="toggleSidebar" class="btn btn-sm btn-light">
            &lt;
        </button>
        <div id="sidebar-content" style="margin-top: -50px;"> <!--COlOCAR LEYENDA, CATEGORIAS, ETC  TAMBIEN PONER EL FORM PARA LLENAR DATOS--> 
            <div id="sidebar-body">
                <ul style="list-style-type: none; margin-left: -20px;">
                    {% for categoria in categorias %}
                    <li class="lista-categorias">
                        <div class="contenedor-categorias">
                            <input class="form-check-input categoria-checkbox" type="checkbox" data-id="{{ categoria.id }}" data-tipo="categoria" checked></input>
                            <button class="sidebar-options boton-categorias-toggle" data-id="{{ categoria.id }}">
                                {{categoria.nombre}}
                            </button>
                        </div>
    
                        <ul class="lista-subcategorias" style="display: none; list-style-type: none; margin-left: -20px;">
                            <li class="subcat-list-items" id="subcats-{{ categoria.id }}"></li>
                            <li class="subclas-list-items" id="subclas-cat-{{ categoria.id }}"></li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                <hr id="sectionDivider" class="sidebar-section-divider" style="display: none;">
                <ul id="seccionCapasImportadas" style="list-style-type: none; margin-left: -20px; display: none;">
                    <li style="font-weight: bold; margin-left: -20px; margin-bottom: -5px;">
                        Capas Importadas
                    </li>
                    <hr>
                    <li id="listaCapasImportadas" class="lista-capas-importadas activa"></li>
                </ul>
            </div>
        </div>
    </div>
        <div id="map"></div>
    </div>
    <!--Offcanvas-->
    <button id="toggleTablas" class="btn btn-sm btn-light" data-bs-toggle="offcanvas" data-bs-target="#seccionTablas" aria-controls="seccionTablas"><img src="{% static 'icons/table.png' %}" alt="tabla" height="20px" width="20px"></button>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="seccionTablas" aria-labelledby="seccionTablas">
        <div class="offcanvas-header" style="height: 40px;">
            <h5 class="offcanvas-title">Tabla de atributos</h5>
        </div>
        <hr>
        <div id="cuerpoTablas" class="offcanvas-body small"></div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/shpjs@latest/dist/shp.min.js"></script>
<!--------------------------------------LEAFLET Y MAPA DE OPS------------------------------------>
<!--Este link y script provienen de leaflet. Cargan los íconos y funcionalidades-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<!--ESTE SCRIPT CARGA LOS DIFERENTES TILESETS Y DESPUÉS CARGA EL MAPA, INICIANDO CON EL DE LAS CALLES-->

<script type="module">
    import {
        inicializacionMapa,
        mantenerVista,
        tilesetsMapa
    } from "{% static 'js/funcionalidadMapa.js' %}";

    import {
        toggleSidebar,
        inicializadorSidebar,
        fetchContenidoCategoria,
        fetchContenidoSubcategoria,
        mostrarSubclasificacion,
    } from "{% static 'js/funcionalidadSidebar.js' %}"

    import {
        cargarFigurasPublicas
    } from "{% static 'js/cargarFigurasMapaUsuarioNoRegistrado.js' %}"

    import {
        mostrarDatosOffcanvas
    } from "{% static 'js/formularios.js' %}"

    import {
        guardarEstadoVisibilidad,
        alternarVisibilidadFigUsuario,
        actualizarVisibilidadFigurasUsuario,
        restaurarEstadoVisibilidad,
    } from "{% static 'js/visibilidad.js' %}"

    window.capasVisibles = window.capasVisibles || {};
    window.visibilidadFiguras = window.visibilidadFiguras || {};
    window.camposOcultos = [
        '__subclasificacionId',
        '__subclasificacionNombre',
        '__origenCapa',
    ]

    document.addEventListener('DOMContentLoaded', async function(){

        const {map, calles, satelite, relieve} = inicializacionMapa()

        window.map = map

        mantenerVista(map)

        tilesetsMapa(map, calles, satelite, relieve)

        toggleSidebar()

        inicializadorSidebar()

        restaurarEstadoVisibilidad()

        document.addEventListener("change", function (e) {
            if (e.target.matches(".categoria-checkbox") || 
                e.target.matches(".subcat-checkbox") ||
                e.target.matches(".subclas-checkbox")) { 
                alternarVisibilidadFigUsuario(e);
            }
        });

        await cargarFigurasPublicas(map)

        actualizarVisibilidadFigurasUsuario()
        
    })

</script>
</html>