{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
    <nav class="barraSuperior navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a id="dropdownMapa" class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mapa
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="mapaSatelital" class="dropdown-item" href="">Mapa satelital</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a id="mapaCalles" class="dropdown-item" href="">Mapa de calles</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a id="mapaRelieve" class="dropdown-item" href="">Mapa de relieve</a></li>
                        </ul>            
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if not user.is_authenticated and request.resolver_match.url_name != 'registro' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
                        </li>
                    {% endif %}
                    {% if not user.is_authenticated and request.resolver_match.url_name != 'login' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                        </li>
                    {% endif %}     
                </ul> 
            </div>
        </div>
    </nav>
    <div class="contenedor-mapa">
        <div id="sidebar" class="sidebar" style="margin-top: 52px;">
        <button id="toggleSidebar" class="btn btn-sm btn-light">
            &lt;
        </button>
        <div id="sidebar-content" style="margin-top: 0px;"> <!--COlOCAR LEYENDA, CATEGORIAS, ETC  TAMBIEN PONER EL FORM PARA LLENAR DATOS--> 
            <div id="sidebar-body">
                <ul style="list-style-type: none; margin-left: -20px;">
                    {% for categoria in categorias %}
                    <li class="lista-categorias">
                        <div class="contenedor-categorias">
                            <input class="form-check-input categoria-checkbox" type="checkbox" data-id="{{ categoria.id }}" data-tipo="categoria" checked></input>
                            <button class="sidebar-options boton-categorias-toggle" data-id="{{ categoria.id }}">
                                {{categoria.nombre}}
                            </button>
                        </div>
    
                        <ul class="lista-subcategorias" style="display: none; list-style-type: none; margin-left: -20px;">
                            <li class="subcat-list-items" id="subcats-{{ categoria.id }}"></li>
                            <li class="subclas-list-items" id="subclas-cat-{{ categoria.id }}"></li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                <hr id="sectionDivider" class="sidebar-section-divider" style="display: none;">
                <ul id="seccionCapasImportadas" style="list-style-type: none; margin-left: -20px; display: none;">
                    <li style="font-weight: bold; margin-left: -20px; margin-bottom: -5px;">
                        Capas Importadas
                    </li>
                    <hr>
                    <li id="listaCapasImportadas" class="lista-capas-importadas activa"></li>
                </ul>
            </div>
        </div>
    </div>
        <div id="map"></div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/shpjs@latest/dist/shp.min.js"></script>
<!--------------------------------------LEAFLET Y MAPA DE OPS------------------------------------>
<!--Este link y script provienen de leaflet. Cargan los íconos y funcionalidades-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<!--ESTE SCRIPT CARGA LOS DIFERENTES TILESETS Y DESPUÉS CARGA EL MAPA, INICIANDO CON EL DE LAS CALLES-->
<script>
    const calles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    });
    const satelite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        maxZoom: 19,
        attribution: 'Tiles © Esri'
    });
    const relieve = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenTopoMap contributors'
    })

    const defaultLat = -33.03853;
    const defaultLng = -71.60666;
    const defaultZoom = 14;
    var southWest = L.latLng(-33.367279, -71.78279122251949);
    var northEast = L.latLng(-32.979154, -71.331662);
    var limitesMapa = L.latLngBounds(southWest, northEast);

    let latGuardada = localStorage.getItem('mapCenterLat');
    let lngGuardada = localStorage.getItem('mapCenterLng');
    let zoomGuardado = localStorage.getItem('mapZoom');

    const latInicial = latGuardada ? parseFloat(latGuardada) : defaultLat;
    const lngInicial = lngGuardada ? parseFloat(lngGuardada) : defaultLng;
    const zoomInicial = zoomGuardado ? parseInt(zoomGuardado) : defaultZoom;

    var map = L.map('map', {pmIgnore: false}).setView([latInicial, lngInicial], zoomInicial);
    calles.addTo(map);
    map.setMaxBounds(limitesMapa);
    

    //FUNCION PARA GUARDAR LA VISTA ACTUAL EN LOCALSTORGAGE
    function guardarVista(){
        localStorage.setItem('mapCenterLat', map.getCenter().lat);
        localStorage.setItem('mapCenterLng', map.getCenter().lng);
        localStorage.setItem('mapZoom', map.getZoom());
    }

    map.on('moveend', guardarVista);
</script>
<!--ESTE SCRIPT PERMITE SELECCIONAR EL TILESET DEL MAPA-->
<script>
    let currentLayer = calles;
        
    const edicionesLayer = L.layerGroup().addTo(map);
        
    function cambiarMapa(layer){
        if (currentLayer) map.removeLayer(currentLayer);
        layer.addTo(map);
        currentLayer = layer;
    }
    //listeners para las distintas opciones del menú de mapas
    document.getElementById('mapaSatelital').addEventListener('click', function(e){
        e.preventDefault();
        cambiarMapa(satelite);
    });
    document.getElementById('mapaCalles').addEventListener('click', function(e){
        e.preventDefault();
        cambiarMapa(calles);
    });
    document.getElementById('mapaRelieve').addEventListener('click', function(e){
        e.preventDefault();
        cambiarMapa(relieve);
    });

</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var botonCategorias = document.querySelectorAll(".boton-categorias-toggle");

        botonCategorias.forEach(function(boton){
            boton.addEventListener("click", function(e){
                e.preventDefault();

                var listaCategorias = this.closest('.lista-categorias');
                var listaSubcategoriasUl = listaCategorias ? listaCategorias.querySelector('.lista-subcategorias') : null;
                const categoriaId = this.dataset.id;

                if (listaSubcategoriasUl) {

                    const seAbre = listaSubcategoriasUl.style.display === 'none' || !listaSubcategoriasUl.style.display;

                    if (seAbre) {
                        document.querySelectorAll('.lista-subcategorias').forEach(ul => {
                            if (ul !== listaSubcategoriasUl) {
                                ul.style.display = 'none';
                            }
                        });
                        
                        listaSubcategoriasUl.style.display = 'block';
                        fetchContenidoCategoria(categoriaId, listaCategorias);
                    } else {
                        listaSubcategoriasUl.style.display = 'none';
                        
                    }
                }
            })
        });

        // CODIGO PARA CARGAR EL CONTENIDO DE LAS CATEGORIAS Y SUBCATEGORIAS
        function fetchContenidoCategoria(categoriaId, listaCategorias) {
            const subcatListContainer = listaCategorias.querySelector(`#subcats-${categoriaId}`);
            const subclasListContainer = listaCategorias.querySelector(`#subclas-cat-${categoriaId}`);

            subcatListContainer.innerHTML = '<li>Cargando...</li>';
            subclasListContainer.innerHTML = '';

            fetch(`/obtener_contenido_categoria/${categoriaId}/`)
                .then(response => response.json())
                .then(data => {
                    subcatListContainer.innerHTML = '';

                    if (!data) {
                        subcatListContainer.innerHTML = `<li>Error cargando contenido: ${data.error}`;
                        return
                    }

                    if (data.subcategorias) {
                        data.subcategorias.forEach(sub => {
                            const li = document.createElement('li');
                            const itemContainer = document.createElement('div');
                            itemContainer.className = 'contenedor-subcategorias';

                            const checkbox = document.createElement('input');
                            checkbox.type = 'checkbox';
                            checkbox.checked = true;
                            checkbox.className = 'form-check-input subitem-checkbox';
                            checkbox.dataset.id = sub.id;
                            checkbox.dataset.tipo = 'subcategoria';

                            const btn = document.createElement('button');
                            btn.className = 'sidebar-suboption';
                            btn.dataset.id = sub.id;
                            btn.textContent = sub.nombre;

                            btn.addEventListener('click', function(event){
                                event.stopPropagation();
                                fetchContenidoSubcategoria(sub.id, this); 
                            });

                            itemContainer.appendChild(checkbox);
                            itemContainer.appendChild(btn)

                            li.appendChild(itemContainer);
                            subcatListContainer.appendChild(li);
                        });
                    }

                    if (data.subclasificaciones_cat) {
                        mostrarSubclasificacion(data.subclasificaciones_cat, subclasListContainer, null);
                    }
                })
                .catch(err => {
                    console.error('Error cargando categoría: ', err);
                    subcatListContainer.innerHTML = '<li>Error al cargar contenido de categoría.</li>';
                });
        }

        //Funciones auxiliares para el fetch de subcategorias
        function fetchContenidoSubcategoria(subId, clickedButton){
            const subcatLi = clickedButton.closest('li');
            const subclasId = `subclas-for-sub-${subId}`;
            const elementoSubclas = document.getElementById(subclasId);

            if (elementoSubclas) {
                elementoSubclas.remove()
                return; 
            }

            const subclasLi = document.createElement('li');
            subclasLi.id = `subclas-for-sub-${subId}`;
            subclasLi.className = 'subclas-injected-li'
            subclasLi.innerHTML ='<p style="text-align: center;">Cargando figuras...</p>';

            subcatLi.after(subclasLi);

            fetch(`/obtener_contenido_subcategoria/${subId}/`)
                .then(response => response.json())
                .then(data =>{
                    mostrarSubclasificacion(data.items, subclasLi, subId);
                })
                .catch(err => {
                    console.error('Error cargando las subclasificaciones: ', err),
                    subclasLi.innerHTML = '<p>Error cargando las subclasificaciones</p>';
                })
        }

        function mostrarSubclasificacion(items, container, subId){
            container.innerHTML = '';
            
            if (items) {

                items.forEach(subclas => {
                    const itemContainer = document.createElement('div');
                    itemContainer.className = 'contenedor-subcategorias item-subclasificacion'

                    const checkbox = document.createElement('input');
                    checkbox.className = 'form-check-input subitem-checkbox';
                    checkbox.type = 'checkbox';
                    checkbox.checked = true;
                    checkbox.dataset.id = subclas.id;
                    checkbox.dataset.tipo = 'subclasificacion'

                    const subclasBtn = document.createElement('button');
                    subclasBtn.className = 'sidebar-suboption'
                    subclasBtn.textContent = subclas.nombre;

                    subclasBtn.dataset.id = subclas.id;

                    itemContainer.appendChild(checkbox);
                    itemContainer.appendChild(subclasBtn);

                    container.appendChild(itemContainer);

                    subclasBtn.addEventListener('click', function(event){
                        event.stopPropagation();
                        const subclasId = this.dataset.id;
                    })
                })
            }
        }

        //----------SCRIPT PARA LA SIDEBAR------------------
        const sidebar = document.getElementById("sidebar");
        const toggleBtn = document.getElementById("toggleSidebar");

        toggleBtn.addEventListener("click", function () {
            sidebar.classList.toggle("minimized");
            setTimeout(() => {
                map.invalidateSize(); // Ajusta Leaflet después del cambio
            }, 310);

            if (sidebar.classList.contains("minimized")){
                toggleBtn.innerHTML = "&gt;"
            } else {
                toggleBtn.innerHTML = "&lt;"
            }
        });
        
        
    })
</script>
</html>