{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
    <nav class="barraSuperior navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'editor' %}">Mapa</a>
                    </li>
                </ul>  
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                        </li>
                    {% endif %}
                </ul>   
            </div>
        </div>
    </nav>
    <div class="flexbox">
        <div id="listaCategorias">
            <div class="row" style="margin-top: 2px;">
                <div class="col-lg-9" style="align-items: center; align-content: center;">
                    <h5>Categorías</h5>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-proyectos" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFormulario" aria-controls="Formulario Categoria">
                        Nueva categoría
                    </button>
                    <button id="botonEditar" class="btn btn-proyectos" type="button">
                        Editar
                    </button>
                    <button id="btnEliminar" class="btn btn-proyectos" type="button">
                        Eliminar
                    </button>
                </div>
            </div>
            <div id="seccionTablaCategorias">
                <table id="tablaCategorias" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categoria in categorias %}
                        <tr>
                            <td><input class="form-check-input" type="checkbox" value="{{categoria.id}}">{{ categoria.nombre }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="offcanvasFormulario" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="formularioCategoria">
            <div class="offcanvas-header">
                <h5 id="tituloFormularioCategoria" class="offcanvas-title">Nueva categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form id="formCategoria" method="POST" action="">
                    {% csrf_token %}
                    {{ formCategoria.as_p }}
                    <button id="btnSubmitCategoria" type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/shpjs@latest/dist/shp.min.js"></script>
<script type="module">
    import {
        guardarCategoria,
        editarCategoria,
        actualizarTablaCategorias,
        eliminarCategoria
    } from "{% static 'js/categoriasCRUD.js' %}"

    guardarCategoria();
    editarCategoria();
    eliminarCategoria()
</script>
</html>
