.barraSuperior{
    background-color: #212529 !important;
    height: 52px;
}

body, html{
    height: 100%;
    margin: 0;
}

#botonExportar{
    position: fixed;
    bottom: 10px;
    left: 140px;
    z-index: 2000;
    padding: 6px 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

#botonGuardar{
    position: fixed;              
    bottom: 10px;                 
    left: 10px;                   
    z-index: 2000;                
    padding: 6px 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

.btn-proyectos{
    background-color: #dddddd;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    font-weight: bold;
}

.btn-proyectos:hover{
    background-color: #1899f0;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    font-weight: bold;
}

.btn-eliminar{
    background-color: #dddddd;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    font-weight: bold;
}

.btn-eliminar:hover{
    background-color: red;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    font-weight: bold;
}

.contenedor-mapa{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 52px);
}

.dropdown-item{
    color: black;
    text-decoration: none;
}

#dropdownMapa{
    color: white;
    font-weight: bold;
}

.dropdown-menu{
    position: absolute;
    z-index: 2000;
}

.lista-capas-importadas{
    text-align: left;
}

#map{
    height: calc(100vh - 52px);
    width: 100%;
    position: relative;
}

.nav-link{
    color: white;
    font-weight: bold;
}

.nav-link.dropdown-toggle{
    color: white;
}

.nav-link:hover{
    background-color: transparent !important;
    color:#70d9bd !important
}

.nav-link.dropdown-toggle:hover,
.nav-link.dropdown-toggle:focus,
.nav-link.dropdown-toggle.show {
    background-color: transparent !important;
    color: #70d9bd !important;
}

.offcanvas-end{
    width: 500px !important;
}

#seccionTablas{
    height: 400px;
}

#togglerBarra{
    background-color: white;
}

#toggleSidebar{
    position: absolute;
    top: 250px;
    right: -20px;
    width: 20px;
    height: 40px;
    border-radius: 10%;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    z-index: 1100;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

#toggleTablas{
    background-color: #212529;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 500px;
    left: 1400px;
    z-index: 1100;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15%;
}

/*Para ajustar el mapa cuando cambie el tamaño del sidebar*/
.row {
    transition: all 0.3s ease;
}

/*Personalización sidebar*/

.contenedor-categorias{
    display: flex;
    height: 50px;
    width: 198px;
    border-style: solid;
    border-color: #c9c9c9;
    border-right: none;
    border-left: none;
    border-width: 1px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.contenedor-subcategorias{
    height: 50px;
    width: 180px;
    border-style: solid;
    border-color: #c9c9c9;
    border-right: none;
    border-left: none;
    border-width: 1px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6px;
    display: flex;
}

.contenedor-subcategorias:hover{
    background-color: #88e5d5;
}

.lista-categorias{
    display: block;
    gap: 5px;
    transition: 0.4s;
}

.lista-categorias:hover{
    background-color: #88e5d5;
}

.lista-subcategorias{
    list-style-type: none;
    display: none;
    background-color: white;
}

.opciones-sidebar{
    /*display: none;*/
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    height: 100%;
}

#sidebar-body{
    text-align: center;
}

#sidebar-content{
    flex-grow: 1;
    overflow-y: auto;
    margin-right: -1px;
    margin-top: -55px;
    margin-bottom: 55px;
}

.sidebar-divider{
    color: #212529;
    margin-left: 40px;
}

.sidebar-section-divider{
    color: #212529;
    border-width: 2px;
}

#sidebar-header{
    background-color: #70d9bd;
}

#sidebar.minimized {
    width: 0px !important;
    transition: width 0.3s ease;
}

#sidebar.minimized #sidebar-content {
    display: none;
}

.sidebar-options{
    background: none;
    border: none;
}

.sidebar-suboption{
    margin-top: 10px;
    background: none;
    border: none;
    flex-grow: 1;
    text-align: left;
}

.subitem-checkbox{
    margin-right: 8px;
    margin-top: 8px;
}

#titulo-sidebar{
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;
    margin-bottom: -10px;
}